@mixin scrollbar($size, $primary, $secondary: lighten($primary, 30%)) {
	&::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}
	&::-webkit-scrollbar-thumb {
		background: $primary;
	}
	&::-webkit-scrollbar-track {
		background: $secondary;
	}
	body {
		scrollbar-face-color: $primary;
		scrollbar-track-color: $secondary;
	}
}