$color-dark-gray: #333434;
$color-gray: #4e4e4e;
$color-red: #e84d4a;
$color-light-blue: #2290f7;
$color-orange: #f6673c;
$color-teal: #00bcd4;
$color-purple: #7726d3;
$color-green: rgb(18, 237, 18);
$color-blue-grey: #546E7A;
