#drawer-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #drawer-btn i {
    margin-top: auto;
    margin-bottom: auto; }

#main_row {
  padding: 1em; }

#editor, #sidebar {
  height: 540px; }

#buttons {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: auto;
  margin-left: auto; }

#sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#res-table {
  width: 100%; }
  #res-table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #res-table tr td, #res-table tr th {
      width: 25%;
      text-align: center; }
