@import "bourbon";
#drawer-btn{ 
  display: flex; 
  flex-direction: column; 
  i{ 
    margin-top: auto; 
    margin-bottom: auto; 
  } 
} 
#main_row{
	padding: 1em;
}
#editor-card,#sidebar{ 
  height: calc(90vh - 64px);
}

#editor { 
  margin: 0;
  position: relative;
  height: 85%;
  top: 0;
  left: 0;
  right: 0;
}

#btn-compilar{
  margin-top: .8em;
  margin-bottom: .8em;
  margin-right:auto;
  //margin-left: auto;
  width: 300px;
  i{
    font-size: 1.5em;
    margin-right: .5em;
  }
  background-color: #007700;
  @media (min-width: 1280px) {
    font-size: 1.2em;

  }
}

#sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#res-table{
  width: 100%;
  tr{
    display:flex;
    td,th{width:25%;text-align: center}
  }
}

#hints{
  height: 100%;
  .mdl-card__supporting-text{
    overflow-y: scroll;
    text-align: justify;
  }
  .mdl-card__title{
    padding-top: 2em;
  }
}
.mdl-navigation__link{
  i{margin-right: 1em;}
  padding-left: 1em !important;
  padding-top: .2em !important;
  padding-bottom: .2em !important;


}
*{ 
  @include scrollbar(6px,#070,darken(rgb(18, 237, 18),35%))
}

.mdl-layout__drawer.is-visible{
  width: 350px;
}
.mdl-layout__drawer{
 
}