@import "bourbon";
.callout{
	border-top: thin solid #ccc;
	margin-top: 1em;
	padding-top: 1em;
	text-align: center;
	font-size: 1em;
}
.logo-img{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#lesson-list{ 
	padding-top: 0;
	.mdl-card{
		display: inline-block;
		margin: 1em .5em !important;
		width: 220px;
	}	
}
.t-JS{
	font-family:Monospace;
	font-size: 1.2em;
	color: $color-green;
}
.btn-set{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	*{@include margin(.2em null);}
}
.doc-links{
	padding-bottom: 2em;
	border-bottom: thin solid #ccc;
}
.lesson-name{
	text-align: center;
	font-size: 1em;
	background-color: darken(#4e4e4e,3%)
}
.lesson-link{
	color: #02ca02;
}
.theory-title{
	*{font-weight: bold; }
	color: $color-green;
}
.theory-content{
	margin: 2em 0 3em 0; 
	p{
		text-align: justify;
		line-height: 1.2em;
		font-size: 1.2em;
	}
}
.reserved-list{
	li{
		font-family: "Lucida Console", Monaco, monospace;
	}
}
.sintaxis-list{
	li{
		text-align: justify;
		margin: 1em 1em 0 0 ;
		.t-JS{
			font-size: 1.1em;
		}
	}
}
.theory-content #editor{
	height: 100px;
}

.hh{
	font-family:Monospace;
	color: darken($color-green,5%);
}

.next-class{
	width: 200px;
	margin-top: 1em;

text-align: center;	
}

.mdl-card__supporting-text{
	ul{
		padding-left: 1.5em;
		li.hint-text{
			margin: .5em 0;
		}
	}
}