@import 'variables';
.hu-xs	 {
	display: none !important;
}
@media (min-width: $sm-context +1px) {
	.hu-sm {
		display: none !important;
	}
}
@media (min-width: $md-context +1px) {
	.hu-md {
		display: none !important;
	}
}
@media (min-width: $lg-context +1px) {
	.hu-lg {
		display: none !important;
	}
}
@media (max-width: $sm-context) {
	.hd-xs {
		display: none !important;
	}
}
@media (max-width: $md-context) {
	.hd-sm{
		display: none !important;
	}
}
@media (max-width: $lg-context) {
	.hd-md {
		display: none !important;
	}
}